.container-admin {
    max-width: 1370px;
    height: 100%;
    margin: 0 auto;
}

.admin-products {
    width: auto;
    padding: 25px;
}
  
.product-admin-block {
    display: flex;
    height: 250px;
    width: 100%;
}

.product-admin-box {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(192, 192, 192, 0.307);
}

.product-admin-icon {
    width: 150px;
    height: 100%;
    object-fit: contain;
}

.product-admin-title {
    font-weight: bold;
    width: 150px;
}

.edit {
    height: auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 17px;
    border: none;
    background-color: transparent;
    resize: none; /* Заборона зміни розміру */
    border-radius: 0; /* Видалення кутових обводок */
    outline: none; /* Видалення зовнішнього обведення */
}

.product-admin-descr-mini {
    width: 250px;
}

.product-admin-descr-full {
    width: 350px;
}

.product-add-info {
    padding: 0 30px;
}

.close-img {
    width: 15px;
    margin: 0 15px;
    cursor: pointer;
}

.total {
    display: flex;
    padding-top: 25px;
}

.price-icon {
    width: 110px;
}

.edit-icon {
    width: 50px;
    color: blue;
    text-align: center;
    cursor: pointer;
}

.save-btn-box {
    border: none;
    cursor: default;
}

.save-btn {
    display: none;
    padding: 5px;
    background-color: rgb(185, 218, 235);
    border: 1px solid rgb(79, 106, 197);
    border-radius: 7px;
    cursor: pointer;
}

.save-btn:hover {
    background-color: rgb(208, 223, 239);
}